@using Microsoft.AspNetCore.Session
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-8">
                <div class="jumbotron">
                    <h3>@Context.Session.GetString("FullName") Admin Panele Hoş Geldiniz.</h3>
                </div>
            </div>
        </div>
    </div>
    
</div>

